<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STEP</title>
</head>
<body>
    <h1>It is company registration page</h1>
    <p>Approval of the administrator is required to confirm registration!</p>
    <hr/>
    <form action="" method="post">
        {% csrf_token %}
        <h4>Email: </h4>
        <input type="email" name="email" {% if email %} value="{{ email }}"
                                        {% else %} placeholder="email" {% endif %}/>
        <br/>
        <h4>Company name: </h4>
        <input type="text" name="company_name" {% if company_name %} value="{{ company_name }}"
                                            {% else %} placeholder="company name" {% endif %}/>
        <br/>
        <h4>Password: </h4>
        <input type="password" name="password" placeholder="password"/>
        <br/>
        <input type="password" name="confirm_password" placeholder="confirm password"/>
        <br/><br/>
        <button type="submit">Register your company</button>
    </form>

        {% if error %}
            <hr/>
            <p>{{ error }}</p>
        {% endif %}
</body>
</html>