{% extends 'user_management/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Hello, {{ user.username }}</h2>
        <a href="{% url 'user_management:logout' %}">
            <button>Log out</button>
        </a>
    {% else %}
        <h2>Login</h2>
            <form method="post" action="{% url 'user_management:login' %}">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    {% endif %}
{% endblock %}