<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify</title>
</head>
<body>
<form action="{% url "user_management:modify" %}" method="post">
    {% csrf_token %}
    <input type="text" name="first_name" value="{{ first_name }}"/>
    <input type="text" name="second_name" value="{{ second_name }}"/>
    <input type="text" name="third_name" value="{{ third_name }}"/>
    <input type="text" name="email" value="{{ email }}"/>
    <input type="submit" value="Modify"/>
</form>

<form action="{% url "user_management:change_password" %}" method="post">
    {% csrf_token %}
    <input type="password" name="old_password"/>
    <input type="password" name="new_password"/>
    <input type="password" name="repeated_password"/>
    <input type="submit" value="Change password"/>
</form>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>