<h1><b>View Profile</b></h1>
<img src="" width="189" height="255" alt="User Photo" name="user_photo">
<p><label for="user">Имя: </label></p>
<p><label for="second_name">Фамилия: </label></p>
<p><label for="third_name">Отчество: </label></p>
<input type="submit" name="modify_button" value="Modify"/>