<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>STEP</title>
</head>
<body>
    <h1>It is teacher adding page</h1>
    <hr/>
    <form action="" method="post">
        {% csrf_token %}
        <h4>Email: </h4>
        <input type="email" name="email" {% if email %} value="{{ email }}"
                                        {% else %} placeholder="email" {% endif %}/>
        <br/>
        <h4>Full name: </h4>
        <input type="text" name="first-name" {% if first_name %} value="{{ first_name }}"
                                            {% else %} placeholder="first-name" {% endif %}/>
        <input type="text" name="second-name" {% if second_name %} value="{{ second_name }}"
                                            {% else %} placeholder="second-name" {% endif %}/>
        <input type="text" name="third-name" {% if third_name %} value="{{ third_name }}"
                                            {% else %} placeholder="third-name" {% endif %}/>
        <br/>
        <h4>Description: </h4>
        <textarea rows="10" cols="45" name="description">{% if description %}{{ description }}{% endif %}</textarea>
        <br/>
        <h4>Password: </h4>
        <input type="password" name="password" placeholder="password"/>
        <br/>
        <input type="password" name="confirm_password" placeholder="confirm password"/>
        <br/><br/>
        <button type="submit">Add teacher</button>

        {% if error %}
            <hr/>
            <p>{{ error }}</p>
        {% endif %}
    </form>
</body>
</html>